
/* For landscape, horizontaol mode*/

@media (orientation: landscape) {
    #detect {
        display: none !important;
    }

    #guide {
        display: block;
    }

}
@media (orientation: portrait) {
    #detect {
        display: block !important;
    }

    #guide {
        display: none;
    }

    #nav-main {
        display: none !important;
    }

    #nav {
        display: none !important;
    }
}




@media (min-width: 481px) and (max-width: 800px) {

}
