/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  //font: inherit;
  vertical-align: baseline;
  font-family: 'NotoSansKR', sans-serif;
  box-sizing: border-box;
  color: #f0f0f0;
}

a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#detect {
  z-index: 10;
  background: rgba(80,78,78, 1);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;

  #detect_img {
    position: absolute;
    width: 30%;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
  }
  #detect_msg {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
  }

}

#capture {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background: rgba(10, 147, 147, 0.5);

  #cap1 {
    width: 12%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 50%;
  }
  p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    /* margin: 0 auto; */
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
  }
}

.tab-active {
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #009bb1;
}
.on{
  display: block !important;
  z-index: 11;
}

#night{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: block;
  z-index: 20;

  #overlayGuide {
    position: absolute;
    transform: translate(-10%, -50%);
    top: 50%;
    left: 50%;
    width: 35%;
  }

  #spotLightBtn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    width: 118px;
    height: 44px;
    border-radius: 34px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    border: solid 1.5px #00deff;
    background-color: rgba(0, 235, 255, 0.5);

    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
  }
}

//#overlay {
//  opacity: 0.88;
//  -webkit-backdrop-filter: blur(30px);
//  backdrop-filter: blur(30px);
//  box-shadow: 0 0 20px 0 #000000;
//  background-color: #000000;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

#container {

  #tab-header{
    position: fixed;
    height: 70px;
    width: 100%;
    opacity: 0.95;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #3b4046;
    display: inline-block;

    #tab-1, #tab-2, #tab-3, #tab-4{
      width: 25%;
      height: 70px;
      border: 1px solid red;
      float: left;
      position: relative;
    }
    #tab-1, #tab-2, #tab-3, #tab-4 p {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      //font-family: NotoSansKR;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

    .tab-item-wrapper {
      width: 80%;
      height: 70px;
      border: 1px solid yellow;
      margin: 0 auto;
      position: relative;
    }
    .tab-item-wrapper img, .tab-item-wrapper p {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
    }
    .tab-item-wrapper img {
      left: 35%;
    }
    .tab-item-wrapper p {
      left: 60%;
    }

  }

  #main-title{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    #title {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
      //font-family: NotoSansKR;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.48;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    #author{
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
      //font-family: NotoSansKR;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

  }

  #layerviewBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    cursor:pointer;
  }

  #main-content {
    position: absolute;
    width: 100%;
    border: 1px solid purple;
    height: 400px;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;

    #content-1{
      border-radius: 16px;
      box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.65);
      position: absolute;
      margin: 0 auto;
      width: 80%;
      height: 400px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: inline-block;

      .closeBtn {
        position: absolute;
        transform: translate(90%, -50%);
        top: 4%;
        left: 86%;
        width: 9%;
      }

      h2 {
        position: absolute;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #77ebfc;
        margin: 3% 0 0 3%;
      }

      p {
        position: absolute;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        width: 62%;
        margin: 10% 0 0 3%;
      }

      #intro-vinci {
        float: right;
        width: 30%;
        margin: 10% 3% 0 0;
      }
    }

    #content-2 {

      h1 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        //font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 5% 0 0 0;
      }

      #u1 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        border-radius: 18px;
        width: 90px;
        height: 37px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #0a9393;
        background-color: rgba(10, 147, 147, 0.6);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      #u2 {
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.82;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        border-radius: 18px;
        width: 70px;
        height: 34px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #0a9393;
        background-color: rgba(10, 147, 147, 0.6);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 20%;
      }

      #peopleInfo {
        border-radius: 16px;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #0a9393;
        background-color: rgba(10, 147, 147, 0.5);
        width: 320px;
        //height: 92px;
        display: block;
        padding: 13px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 70%;

        h3 {
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #77ebfc;
        }
        p{
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin-top: 5px;
        }
        .closeBtn {
          position: absolute;
          transform: translate(70%, -45%);
          top: 10%;
          left: 75%;
          width: 18%;
        }
      }
    }

    #content-3 {


      h1 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        //font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 5% 0 0 0;
      }

    }

  }

}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  text-align: center;
  //border: 1px solid red;

  #footer-wrapper{
    z-index: 20;
    //border: 1px solid yellow;
    height: 100px;
    width: 80%;
    margin: 0 auto;
  }

  #logo {
    //box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 35%;
    top: 50%;
  }

  #copyright {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    //font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

}









