/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "NotoSansKR", sans-serif;
  box-sizing: border-box;
  color: #f0f0f0;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#detect {
  display: none;
  z-index: 10;
  background: #504e4e;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
}
#detect #detect_img {
  position: absolute;
  width: 30%;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}
#detect #detect_msg {
  position: absolute;
  width: 50%;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
}

#capture {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background: rgba(10, 147, 147, 0.5);
}
#capture #cap1 {
  width: 12%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 50%;
}
#capture p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  /* margin: 0 auto; */
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
}

.tab-active {
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #009bb1;
}

.on {
  display: block !important;
  z-index: 11;
}

#night {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: block;
  z-index: 200;
}
#night #overlayGuide {
  position: absolute;
  transform: translate(-10%, -50%);
  top: 50%;
  left: 50%;
  width: 35%;
}
#night #spotLightBtn {
  border: solid 1.5px #00deff;
  border-radius: 34px;
  background-color: rgba(0, 235, 255, 0.5);
  padding: 0.5em 1.2em 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#night #centerPoint {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 45%;
}

.btn_area {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  display: block;
  opacity: 0.96;
  z-index: 500;
}
.btn_area .blue_btn {
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  -moz-border-radius: 4em;
  -webkit-border-radis: 4em;
  border-radius: 4em;
  position: relative;
  overflow: hidden;
}
.btn_area .blue_btn .light {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -90px;
  transform: skewX(-45deg) translateX(0);
  -webkit-transform: skewX(-45deg) translateX(0);
  animation: example 6s 1s infinite;
}

#container {
  background: rgba(0, 0, 0, 0.3);
}
#container #tab-header {
  position: fixed;
  height: 70px;
  width: 100%;
  opacity: 0.95;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #3b4046;
  display: inline-block;
  z-index: 30;
}
#container #tab-header #tab-1, #container #tab-header #tab-2, #container #tab-header #tab-3, #container #tab-header #tab-4 {
  width: 25%;
  height: 70px;
  border: solid 1px #5c6065;
  float: left;
  position: relative;
}
#container #tab-header #tab-1, #container #tab-header #tab-2, #container #tab-header #tab-3, #container #tab-header #tab-4 p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
#container #tab-header .tab-item-wrapper {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
#container #tab-header .tab-item-wrapper img, #container #tab-header .tab-item-wrapper p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
#container #tab-header .tab-item-wrapper img {
  left: 35%;
  width: 17%;
}
#container #tab-header .tab-item-wrapper p {
  left: 63%;
}
#container #main-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#container #main-title #title {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  font-size: 4em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#container #main-title #author {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#container #layerviewBtn {
  border-radius: 34px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1.5px #00deff;
  background-color: rgba(0, 235, 255, 0.5);
  padding: 0.5em 1.2em 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#container #main-content {
  position: absolute;
  width: 100%;
  height: 400px;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
}
#container #main-content #content-1 {
  border-radius: 16px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  margin: 0 auto;
  width: 80%;
  height: 400px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: inline-block;
}
#container #main-content #content-1 .closeBtn {
  position: absolute;
  transform: translate(90%, -50%);
  top: 4%;
  left: 86%;
  width: 9%;
}
#container #main-content #content-1 h2 {
  position: absolute;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #77ebfc;
  margin: 3% 0 0 3%;
}
#container #main-content #content-1 p {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 62%;
  margin: 10% 0 0 3%;
}
#container #main-content #content-1 #intro-vinci {
  float: right;
  width: 30%;
  margin: 10% 3% 0 0;
}
#container #main-content #content-2 h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 2.3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  width: 100%;
  color: #ffffff;
}
#container #main-content #content-2 #bartholomaeusBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 12%;
}
#container #main-content #content-2 #andreasBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 33%;
  left: 25%;
}
#container #main-content #content-2 #jacobusBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 20%;
}
#container #main-content #content-2 #petrusBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 5px 22px 5px 22px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 29%;
  left: 36%;
}
#container #main-content #content-2 #judasBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 8px 25px 8px 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 87%;
  left: 34%;
}
#container #main-content #content-2 #jonnesBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 44%;
  left: 42%;
}
#container #main-content #content-2 #jesusBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 8px 30px 8px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 73%;
  left: 50%;
}
#container #main-content #content-2 #thomasBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 5px 22px 5px 22px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 29%;
  left: 55.5%;
}
#container #main-content #content-2 #jamesBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 82%;
  left: 65%;
}
#container #main-content #content-2 #philipBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32%;
  left: 68.5%;
}
#container #main-content #content-2 #mathewBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 79%;
}
#container #main-content #content-2 #thaddaeusBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 8px 30px 8px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 84%;
  left: 83%;
}
#container #main-content #content-2 #simonBtn {
  border-radius: 30px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 4px 20px 4px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 31%;
  left: 89%;
}
#container #main-content #content-2 #l0 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3%;
  top: 62%;
  left: 50.5%;
}
#container #main-content #content-2 #l1 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3%;
  top: 46.5%;
  left: 12%;
}
#container #main-content #content-2 #l2 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 68%;
  left: 20%;
}
#container #main-content #content-2 #l3 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 43%;
  left: 24%;
}
#container #main-content #content-2 #l4 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 44%;
  left: 35%;
}
#container #main-content #content-2 #l5 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 72%;
  left: 33%;
}
#container #main-content #content-2 #l6 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 54%;
  left: 41%;
}
#container #main-content #content-2 #l7 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 5%;
  top: 69.5%;
  left: 64%;
}
#container #main-content #content-2 #l8 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 6%;
  top: 41.5%;
  left: 58%;
}
#container #main-content #content-2 #l9 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 4%;
  top: 43%;
  left: 68%;
}
#container #main-content #content-2 #l10 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3%;
  top: 40%;
  left: 80%;
}
#container #main-content #content-2 #l11 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3%;
  top: 70.5%;
  left: 84%;
}
#container #main-content #content-2 #l12 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3%;
  top: 42%;
  left: 90%;
}
#container #main-content #content-2 #img-people img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 25%;
}
#container #main-content #content-2 #peopleInfo {
  border-radius: 16px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #0a9393;
  background-color: rgba(10, 147, 147, 0.5);
  width: 450px;
  display: block;
  padding: 13px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 70%;
}
#container #main-content #content-2 #peopleInfo h3 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #77ebfc;
  font-size: 1.6em;
}
#container #main-content #content-2 #peopleInfo p {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 5px;
  font-size: 1.2em;
}
#container #main-content #content-2 #peopleInfo .closeBtn {
  position: absolute;
  transform: translate(70%, -45%);
  top: 10%;
  left: 75%;
  width: 18%;
}
#container #main-content #content-3 #layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 560px;
  position: absolute;
  transform: translate(0, -20%);
  z-index: 10;
}
#container #main-content #content-3 #redPoint {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background-color: #ff4600;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 46%;
  left: 50%;
  z-index: 40;
}
#container #main-content #content-3 .wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 44%;
  left: 50%;
  width: 100%;
  z-index: 30;
}
#container #main-content #content-3 .wrap #linestart {
  display: block;
  width: 100%;
  height: 100%;
}
#container #main-content #content-3 .wrap .st0 {
  fill: none;
  stroke-width: 2px;
  stroke: yellow;
}
#container #main-content #content-3 .wrap #line1 {
  stroke-dasharray: 1443;
  stroke-dashoffset: 1443;
  animation: ani 0.8s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line2 {
  stroke-dasharray: 2559;
  stroke-dashoffset: 2559;
  animation: ani 0.8s 0.3s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line3 {
  stroke-dasharray: 2559;
  stroke-dashoffset: 2559;
  animation: ani 0.8s 0.6s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line4 {
  stroke-dasharray: 2072;
  stroke-dashoffset: 2072;
  animation: ani 0.8s 0.9s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line5 {
  stroke-dasharray: 2072;
  stroke-dashoffset: 2072;
  animation: ani 0.8s 1.2s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line6 {
  stroke-dasharray: 1450;
  stroke-dashoffset: 1450;
  animation: ani 0.8s 1.5s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line7 {
  stroke-dasharray: 1284;
  stroke-dashoffset: 1284;
  animation: ani 0.8s 1.8s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line8 {
  stroke-dasharray: 1284;
  stroke-dashoffset: 1284;
  animation: ani 0.8s 2.1s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line9 {
  stroke-dasharray: 1285;
  stroke-dashoffset: 1285;
  animation: ani 0.8s 2.4s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line10 {
  stroke-dasharray: 1285;
  stroke-dashoffset: 1285;
  animation: ani 0.8s 2.7s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line11 {
  stroke-dasharray: 1450;
  stroke-dashoffset: 1450;
  animation: ani 0.8s 3s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line12 {
  stroke-dasharray: 2560;
  stroke-dashoffset: 2560;
  animation: ani 0.8s 3.3s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line13 {
  stroke-dasharray: 2560;
  stroke-dashoffset: 2560;
  animation: ani 0.8s 3.6s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line14 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 3.9s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line15 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 4.2s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line16 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 4.5s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line17 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 4.8s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line18 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 5.1s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 .wrap #line19 {
  stroke-dasharray: 753;
  stroke-dashoffset: 753;
  animation: ani 0.8s 5.4s;
  animation-fill-mode: forwards;
}
#container #main-content #content-3 h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  z-index: 50;
  position: absolute;
}
#container #main-content #content-3 #vanishingPointBtn {
  border: solid 1.5px #00deff;
  border-radius: 34px;
  background-color: rgba(0, 235, 255, 0.5);
  padding: 0.5em 1.2em 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
#container #main-content #content-3 #vanishingPointPanel {
  width: 90%;
  height: 400px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.65);
  padding: 22px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#container #main-content #content-3 #vanishingPointPanel .closeBtn {
  position: absolute;
  transform: translate(50%, -50%);
  top: 6%;
  left: 88%;
  width: 10%;
}
#container #main-content #content-3 #vanishingPointPanel h3 {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #77ebfc;
  margin-bottom: 22px;
}
#container #main-content #content-3 #vanishingPointPanel #vanishingInfo {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 55%;
}
#container #main-content #content-3 #vanishingPointPanel img {
  float: right;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 5%;
  width: 35%;
}
#container #main-content #content-4 {
  /*.btn_area {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
    opacity: 0.96;
    -webkit-transform: translate(-50%);

    .blue_btn {
      box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
      display: inline-block;
      -moz-border-radius: 4em;
      -webkit-border-radis: 4em;
      border-radius: 4em;
      position: relative;
      overflow: hidden;

      .light {
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -90px;
        transform: skewX(-45deg) translateX(0);
        -webkit-transform: skewX(-45deg) translateX(0);
        animation: example 6s 1s infinite;
      }
    }
  }*/
}
#container #main-content #content-4 h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  z-index: 50;
  position: absolute;
}
#container #main-content #content-4 .note_area {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 24%;
  width: 100%;
  text-align: center;
}
#container #main-content #content-4 .note_area img {
  width: 100%;
  height: 140px;
}
#container #main-content #content-4 #hiddenMusicBtn {
  border: solid 1.5px #00deff;
  background-color: rgba(0, 235, 255, 0.5);
  padding: 0.5em 1.2em 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#container #main-content #content-4 #videoPanel {
  width: 90%;
  height: 400px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.65);
  padding: 22px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#container #main-content #content-4 #videoPanel .closeBtn {
  position: absolute;
  transform: translate(50%, -50%);
  top: 6%;
  left: 88%;
  width: 10%;
}
#container #main-content #content-4 #videoPanel h3 {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #77ebfc;
  margin-bottom: 22px;
}
#container #main-content #content-4 #videoPanel #videoInfo {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 38%;
}
#container #main-content #content-4 #videoPanel .video-container {
  float: right;
  position: absolute;
  transform: translate(0, -50%);
  top: 58%;
  right: 5%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  text-align: center;
  display: block;
}
#footer #footer-wrapper {
  z-index: 20;
  height: 100px;
  width: 80%;
  margin: 0 auto;
}
#footer #logo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 43%;
  top: 50%;
}
#footer #copyright {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 56%;
  top: 50%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none !important;
}

@keyframes ani {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes example {
  0% {
    left: -90px;
    top: 0px;
  }
  10% {
    left: 300px;
    top: 0px;
  }
  20% {
    left: -90px;
    top: 0px;
  }
  30% {
    left: 300px;
    top: 0px;
  }
  40% {
    left: -90px;
    top: 0px;
  }
  100% {
    left: -90px;
    top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
